@import "@/assets/styles/mixins.scss";

@include b(input) {
    position: relative;
    font-size: $--font-size-base;
    display: inline-block;
    width: 100%;
    @include scroll-bar;

    @include e(inner) {
        -webkit-appearance: none;
        background-color: $--input-background-color;
        background-image: none;
        border-radius: $--input-border-radius;
        border: $--input-border;
        box-sizing: border-box;
        color: $--input-font-color;
        display: inline-block;
        font-size: inherit;
        height: $--input-height;
        line-height: $--input-height;
        outline: none;
        padding: 0 15px;
        transition: $--border-transition-base;
        width: 100%;
    
        &::-ms-reveal {
          display: none;
        }
    
        &::placeholder {
          color: $--input-placeholder-color;
        }
    
        &:hover {
          border-color: $--input-hover-border;
        }
    
        &:focus {
          outline: none;
          border-color: $--input-focus-border;
        }
    }

    @include e(prefix) {
        position: absolute;
        height: 100%;
        left: 5px;
        top: 0;
        text-align: center;
        color: $--input-icon-color;
        transition: all .3s;
    }
    
    @include e(icon) {
        height: 100%;
        width: 25px;
        text-align: center;
        transition: all .3s;
        line-height: $--input-height;

        &:after {
            content: '';
            height: 100%;
            width: 0;
            display: inline-block;
            vertical-align: middle;
        }
    }
    
    @include m(prefix) {
        .hx-input__inner {
          padding-left: 30px;
        }
      }
}