<template>
    <div :class="[
        justify !== 'start'?`is-justify-${justify}`: '',
        align ? `is-align-${align}` : '',
        type === 'flex' ? 'hx-row--flex' : '',
        'hx-row'
    ]"><slot /></div>
</template>
<script>
import './row.scss'
</script>
<script setup="props">
import './row.scss'
import {defineProps, ref} from 'vue'
const props = defineProps({
    type:{
        type: String,
        default: ''
    },
    justify: {
      type: String,
      default: 'start'
    },
    align: String
})

const justify = ref(props.justify)
const align = ref(props.align)
</script>