<template>
<div class="list_wrap" ref="listEl">
   <slot />

   <div class="list_detector" ref="detector"></div>
</div>
</template>

<script setup>
import {
    ref, onMounted, defineEmits, defineProps,
} from 'vue';

const props = defineProps({
    offsetBottom: Number,
});

const listEl = ref(null);
const detector = ref(null);

// 定义emits
const emits = defineEmits(['load']);

// 判断是否到底
const isReachBottom = () => {
    const hheight = window.innerHeight - props.offsetBottom;
    const detectorHeight = detector.value?.getBoundingClientRect().bottom;
    if (hheight === Math.round(detectorHeight)) {
        emits('load');
    }
};

// 获取外层scroll
const getParentScroller = (el) => {
    let element = el;
    // 查找overflow节点
    while (element) {
        if (!element.parentNode) {
            break;
        }

        if (element === document.body || element === document.documentElement) {
            break;
        }

        element = element.parentNode;

        const scrollRe = /(scroll|auto)/;
        const { overflow } = getComputedStyle(element);
        if (scrollRe.test(overflow)) {
            return element;
        }
    }
    // 若没找到，返回window
    return window;
};

onMounted(() => {
    const scroller = getParentScroller(listEl.value);
    // 绑定scroll
    scroller.addEventListener('scroll', () => {
        isReachBottom();
    });
});

</script>

<style lang='scss'>
@import './list.scss';
</style>
