<template>
<div :class="['hx-col', `hx-col-${span}`, offset && `hx-col-offset-${offset}`]">
    <slot />
</div>
</template>

<script setup>
import './col.scss';
import { defineProps, ref } from 'vue';

const props = defineProps({
    span: {
        type: Number,
        default: 24,
    },
    offset: Number,
});
const span = ref(props.span);
const offset = ref(props.offset);
</script>
