<template>
<div class="bannerSwipe">
   <swiper
        :space-between="50"
        @swiper="onSwiper"
        @slideChange="onSlideChange"
        class="mySwiper"
    >
        <swiper-slide v-for="item in props.bannerList" :key="item">
            <img :src="item.imageUrl" class="slideimg" binderror="" />
        </swiper-slide>
    </swiper>
</div>
</template>

<script setup lang="ts">
import { defineProps } from 'vue';
// eslint-disable-next-line import/no-unresolved
import { Swiper, SwiperSlide } from 'swiper/vue';
// eslint-disable-next-line import/no-unresolved
import 'swiper/css';

const props = defineProps({
    bannerList: Array,
});

const onSwiper = (swiper) => {
    console.log(swiper);
};
const onSlideChange = () => {
    console.log('slide change');
};
</script>

<style lang="scss">
.slideimg{
    width: 100%;
}
</style>
