<template>
    <section class="section" @click="gotoDetail(props.goods)">
        <img
            :src="props.goods.mainImage + '?x-oss-process=style/750w-2'"
            class="goods_img"
            width="100%"
            height="1.72rem"
        />
        <div class="goods_pwrap">
            <h4 class="goods_tit">
                <img
                    class="pt_icon"
                    v-if="props.goods.participantCount"
                    src="@/assets/images/pt_icon.png"
                />
                {{ props.goods.itemName }}
            </h4>
            <p class="goods_des">{{ props.goods.itemFullName || props.goods.sellPoint }}</p>

            <div class="goods_price">
                <gprice
                    :price="
                        props.goods.participantCount
                            ? props.goods.pintuanPrice
                            : props.goods.salePrice
                    "
                    color="#FA4949"
                    fsize="12px"
                    isize="18px"
                ></gprice>
                <span class="xiangscore"
                    ><img src="@/assets/images/score_dikou.png"
                /></span>
            </div>
            <p class="oldPrice">￥{{ props.goods.marketPrice }}</p>
        </div>
    </section>
</template>

<script setup lang="ts">
import { defineProps } from 'vue';
import gprice from '../../components/gprice.vue';

const props = defineProps({
    goods: {},
});

// const span = ref(props.span);
</script>

<style lang="scss">
.section{
  width: 1.72rem;
  background: #fff;
  margin-bottom: 0.1rem;
  font-size: 0;
  border-radius: 0.08rem;
}
.goods_img{
   width: 1.72rem;
   height: 1.72rem;
}
.goods_tit{
  word-break: break-all;
  font-size: 13px;
  line-height:18px;
  color: rgba(0, 0, 0, 0.86);
  font-family: PingFangSC-Medium, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  i{
    display:inline-block;
    color:#fff;
    background: #FC5656;
    font-size:10px;
    em{
      font-style: italic;
    }
  }
}
.pt_icon{
  width: 0.39rem;
  height: 0.14rem;
  margin-right: 0.1rem;
}
.goods_des{
  font-size: 11px;
  color: rgba(0, 0, 0, 0.4);
  margin: 5px 0 14px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height:14px;
  word-break: break-word;
}
.goods_pwrap{
  padding: 0.1rem;
}
.goods_price{
  display: flex;
  align-items: baseline;
  font-size: 0;
}
.xiangscore{
  margin-left: 5px;
}
.xiangscore img{
  width: 0.56rem;
  height: 0.14rem;
}
.oldPrice{
  color: rgba(0, 0, 0, 0.2);
  font-size:11px;
  text-decoration: line-through;
  margin-top: 5px;
}
.loadingbg{
  width: 4.5867rem;
  height: 4.5867rem;
  background: url('../../assets/images/default_bg2x.png') no-repeat;
  background-size: 100% 100%;
}
</style>
