<template>
<div class="top_wrap">
    <banner :bannerList="homeDetail?.banners[2]" />
    <indexNav />
    <List  @load="load" class="listWrap" offsetBottom=10 >
        <goodsItem v-for="item in skuList" :key="item.id" :goods="item" />
    </List>
</div>
</template>

<script setup lang="ts">
// import '@/assets/styles/home.scss';
import {
    ref,
    onMounted,
    reactive,
} from 'vue';

// eslint-disable-next-line import/no-unresolved
import service from '@/service/index.ts';
import banner from './banner.vue';
import indexNav from './indexNav.vue';
import goodsItem from './goodsItem.vue';

import List from '../../components/list/List.vue';

const homeDetail = ref<{}>(null);
const skuList = ref<[]>([]);

const state = reactive({
    currentPage: 1,
    pageSize: 10,
});

// const span = ref('span');
const getHome = (): void => {
    service.getHomeDetail().then((res) => {
        homeDetail.value = res.result;
        // console.log('res', homeDetail);
    }).catch((e) => { console.log(e); });
};

const getSku = (): void => {
    service.getHomeSkuListRecommend({
        currentPage: state.currentPage,
        pageSize: state.pageSize,
    }).then((res) => {
        skuList.value = skuList.value.concat(res.result.data);
    }).catch((e) => { console.log(e); });
};

const load = (): void => {
    console.log('home_loading');
    state.currentPage += 1;
    getSku();
};

onMounted((): void => {
    getHome();
    getSku();
});
</script>

<style lang='scss'>
.swiperitem{
    width: 100%;
}
.swiper-slide{
    display: flex;
}
.listWrap{
    width: 100%;
    margin-top: 0.1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.top_wrap{
    background: #f7f8fa;
}
</style>
<style lang='scss' src="@/assets/styles/home.scss"></style>
