<template>
<ul class="channelList box_wrap">
      <li @click="goNextPage('orderList')">
        <i class="order"></i>
        <span>商城订单</span>
      </li>
      <li>
        <i class="tuiguang" @click="goNextPage('myPromotionCode')">
            <icon-svg icon-class="tuiguang" />
        </i>
        <span>我的推广</span>
      </li>
      <li @click="goNextPage('pointList')">
        <i class="score"></i>
        <span>我的积分</span>
      </li>
      <li @click="goNextPage('memberDetail')">
        <i class="member"></i>
        <span>会员信息</span>
        <!-- <span class='reddot-tip' v-if="!infoCompletedFlag">
          领积分
        </span> -->
      </li>
      <li @click="goNextPage('customerService')">
        <i class="service"></i>
        <span>客服热线</span>
      </li>
    </ul>
</template>

<script setup>
// import { defineProps, ref } from 'vue';

const goNextPage = (str) => {
    console.log('---', str);
};

</script>

<style lang='scss'>

</style>
