<template>
    <transition name="hx-alert-fade">
        <div
            class="hx-alert"
            :class="[`hx-alert--${props.type}`, `is-${effect}`]"
            v-show="visible">
            <i
                class="hx-alert__icon"
                :class="[TYPE_CLASSES_MAP[props.type] || 'hx-icon-info']"
                v-if="props.showIcon"
            >
            </i>
            <div class="hx-alert__content">
                <span class="hx-alert__title" v-if="props.title">
                    {{props.title}}
                </span>
                <i
                    class="hx-alert__closebtn"
                    :class="{
                        'is-customed': props.closeText !== '',
                        'hx-icon-close': props.closeText === '',
                    }"
                    v-show="closable"
                    @click="close()"
                ></i>
            </div>
        </div>
    </transition>
</template>

<script setup>
import './alert.scss';
import { defineProps, ref } from 'vue';

const TYPE_CLASSES_MAP = {
    success: 'hx-icon-success',
    warning: 'hx-icon-warning',
    error: 'hx-icon-error',
};

const props = defineProps({
    title: {
        type: String,
        default: '',
    },
    closable: {
        type: Boolean,
        default: true,
    },
    closeText: {
        type: String,
        default: '',
    },
    type: {
        type: String,
        default: 'info',
    },
    effect: {
        type: String,
        default: 'light',
        validator(value) {
            return ['light', 'dark'].indexOf(value) !== -1;
        },
    },
    showIcon: {
        type: Boolean,
        default: true,
    },
});

const visible = ref(true);

const close = () => {
    visible.value = false;
};
</script>
