<template>
    <span
        class="gprice_l"
        :style="{
            color: props.color,
            fontSize: props.fsize,
            fontWeight: props.fweight,
            fontFamily: propsffamily,
        }"
    >
        ￥<i :style="{ fontSize: props.isize }">{{ headMoney }}</i
        >.{{ lastMoney }}
    </span>
</template>
<script lang="ts" setup>
import { defineProps, computed } from 'vue';

const props = defineProps({
    price: String,
    color: {
        type: String,
        default: '#FA4949',
    },
    fsize: {
        type: String,
        default: '12px',
    },
    fweight: {
        type: Number,
        default: 600,
    },
    ffamily: {
        type: String,
        default: 'PingFangSC-Semibold,PingFang SC',
    },
    isize: {
        type: String,
        default: '18px',
    },
    splitPrice: {
        type: Boolean,
        default: false,
    },
});

// const title = ref('');

const splitMoney = (num) => {
    if (!props.splitPrice) return num;
    const arr = num.split('');
    if (arr.length < 4) {
        return num;
    }
    let str = '';
    const reverseArr = arr.reverse();
    reverseArr.forEach((element, i) => {
        str += element + ((i + 1) % 3 === 0 ? ',' : '');
    });
    return str.split('').reverse().join('');
};
// 转换价格
const getLastTwo = (value, type) => {
    if (!value && type === 'head') {
        return '0';
    }
    if (!value) {
        return '00';
    }
    const str = value + '';
    const arr = str.split('.');

    if (arr.length > 1) {
        if (type === 'head') {
            return splitMoney(arr[0]);
        }
        return arr[1].length === 2 ? arr[1] : arr[1] + '0';
    }

    if (type === 'head') {
        return splitMoney(str);
    }
    return '00';
};

const headMoney = computed(() => getLastTwo(props.price, 'head'));

const lastMoney = computed(() => getLastTwo(props.price));
</script>
<style scoped lang="scss">
.gprice_l{
    font-size: 14px;
    font-family: 'PingFangSC-Semibold, PingFang SC';
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    i {
        font-size: 16px;
    }
}
</style>
