<template>
<div>
   mine {{span}}
</div>
</template>

<script setup lang="ts">
import { ref } from 'vue';

// const props = defineProps({
//    span: Number,
// })

const span = ref('mine');
</script>

<style lang='scss'>

</style>
