<template>
    <div>
        <router-view v-slot="{ Component }">
            <component :is="Component" />
        </router-view>

    </div>
</template>

<script setup lang="ts">
import { onMounted } from 'vue';

const flag = 1;
console.log(flag);

// const state = reactive({
//     ivalue: '2',
// });

// const echowitharr = (arg: T): T {
//     console.log(arg.length);
//     return arg
// }

/**
 * @tip
 * @param {string} id - needTracker订单id
 * @param {string} name - 用户名
 */
onMounted(() => {
    console.log('mountedinit');
    // text.value = 'row'
});
</script>

<style lang="scss">
html{
    font-size:calc(100vw/3.75);
}
</style>
