$wrapRadius: 8px;
.top_wrap{
  padding: 0.1rem;
  // background: red;
}
.tips{
  display: flex;
  align-items: center;
  height:0.8533rem;
  line-height: 0.8533rem;
  background:rgba(255,246,244,1);
}
.tips span{
  font-size:0.3467rem;
  color:rgba(250,99,57,1);
  margin-left: 0.2667rem;
  margin-right: 0.1333rem;
}
.tips img{
  width: 0.5867rem;
  height: 0.5867rem;
}

.con_wrap{
  padding: 0 0.2667rem;
}
.skuloading{
  text-align: center;
  padding: 0.1333rem 0;
}
.bannerSwipe{
  border-radius: $wrapRadius;
//   height: 3.52rem;
  .van-image{
    height: 3.52rem;
  }
}
.box_wrap{
  border-radius: $wrapRadius;
  margin-top: 0.2133rem;
  overflow: hidden;
}
.twoBanner{
  height: 2.3467rem;
  &.van-image{
    display: block;
  }
}
.channelList{
  display: flex;
  background: #fff;
  padding: 0.1rem 0;
  li{
    flex: 1;
    text-align: center;
    position: relative;
    font-size: 0.12rem;
    i{
      display: block;
      margin: 0 auto 0.1rem;
      width: 0.43rem;
      height: 0.43rem;
    }
    span{
      font-size:12px;
      color:rgba(0, 0, 0, 0.86);
    }
    .reddot-tip {
      background: #ff4a4a;
      border-radius: 15px;
      position: absolute;
      font-size: 10px;
      color: #fff;
      letter-spacing: 0;
      text-align: center;
      right: 0.0667rem;
      top: -0.2rem;
      border: 1px solid #fff;
      padding: 2px 3px 2px 3px;
    }
  }
}
.order{
  background: url('../images/order2.png') no-repeat;
  background-size: 100% 100%;
}
.tuiguang{
  background: url('../images/tuiguang.png') no-repeat;
  background-size: 100% 100%;
}
.score{
  background: url('../images/score2.png') no-repeat;
  background-size: 100% 100%;
}
.member{
  background: url('../images/member2.png') no-repeat;
  background-size: 100% 100%;
}
.service{
  background: url('../images/service2.png') no-repeat;
  background-size: 100% 100%;
}

.activity{
  padding: 0.2667rem;
  background: #fff;
}
.act_tit{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
}
.boldFont{
  font-size:16px;
  font-family:AlibabaPuHuiTiM;
}
.act_tit_tit{
  display:flex;
  align-items: center;
  i{
    background: rgba(252,86,86,1);
    border-radius: 2px;
    color:#fff;
    padding:2px 3px;
    
  }
  img{
    width: 0.0533rem;
    height: 0.16rem;
    margin:0 4px;
  }
}
.limitPrice{
  margin-right:5px;
}
.act_tit_r{
  // width: 2.0267rem;
}
.actr_img{
  margin-top:0.2667rem;
  width: 2.0267rem;
  height: 2.0267rem;
  &:first-child{
    margin-right: 0.2667rem;
  }
}
.actt_img{
  width: 1.28rem;
  height: 1.28rem;
}
.actt_con{
  padding: 0.2667rem 0 0;
  display: flex;
  justify-content: space-between;
  li{
    display:flex;
    flex-direction: column;
    align-items: center;
    // width: 2.0267rem;
  }
}
.act_tit_l{
  width: 4.2667rem;
  justify-content: space-between;
}
.nowPrice{
  line-height: 18px;
  // color: rgba(250, 73, 73, 1);
  // font-size:9px;
  // i{
  //   font-size:11px;
  // }
}
.orgPrice{
  color:rgba(0, 0, 0, 0.2);
  font-size:9px;
  text-decoration: line-through;
}
.now_star{
  margin-top:0.4rem;
  display:flex;
  p{
    display: flex;
    width:50%;
  }
}
.star_ico{
  width: 1.6rem;
  height:0.4rem;
}
.sprice{
  background:url('../images/sprice.png') no-repeat;
  background-size: 100% 100%;
}
.quality{
  background:url('../images/quality.png') no-repeat;
  background-size: 100% 100%;
}
.bianmai{
  width: 1.28rem;
  height: 0.4rem;
  display:inline-block;
  background:url('../images/bianmai.png') no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
  margin-top: -1px;
  margin-left: 5px;
  position:relative;
}
.star_list{
  display:flex;
  justify-content: space-between;
  margin-top:0.2667rem;
  li{
    img{
      width: 2.0267rem;
      height: 2.0267rem;
    }
  }
}
.promat_list{
  margin-top: 0.2667rem;
  display: flex;
  justify-content: space-between;
  li{
    width: 2.2667rem;
    height: 2.8rem;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    position: relative;
    span{
      position: absolute;
      bottom:0;
      left:0;
      width:100%;
      padding-top: 0.08rem;
      height: 0.88rem;
      line-height: 0.88rem;
      text-align: center;
      font-size:14px;
      font-family:AlibabaPuHuiTiM;
    }
    img{
      width: 2.2667rem;
      height: 2.2667rem;
    }
  }
}
.mustbuy{
  background: url("../images/mustbuy.png") no-repeat;
  background-size: 100% 100%;
  color: rgba(0, 137, 223, 1);
}
.morepromat{
  background: url("../images/morepromat.png") no-repeat;
  background-size: 100% 100%;
  color: rgba(243, 79, 35, 1);
}
.crizyBuy{
  background: url("../images/crizy.png") no-repeat;
  background-size: 100% 100%;
  color: rgba(241, 152, 6, 1);
}
.lowprice{
  background: url("../images/lowprice.png") no-repeat;
  background-size: 100% 100%;
  color: rgba(244, 71, 77, 1);
}
.goodsList{
  margin-top: 0.2667rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  section{
    width: 4.5867rem;
    background: #fff;
    margin-bottom: 0.2667rem;
    border-radius: 0.2133rem;
    overflow: hidden;
  }
}
.column{
  display: flex; 
  flex-flow: column wrap; 
  // width: 100%;
}

.bottomlogo{
  width: 100%;
  // background: url('../images/nomore.png') no-repeat;
  // background-size:contain;
  // height: 1.3867rem;
  text-align: center;
  font-size:0.32rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(0,0,0,0.46);
  line-height:0.4533rem;
  padding-bottom: 0.64rem;
  div{
    margin-bottom: 0.2133rem;
  }
}

.index_wrap{
  background:rgba(247,248,250,1);
  padding-bottom: 1.3333rem;
}
.jingxuan{
  padding-left:0.1333rem;
}

.modal-box {
  position: fixed;
  bottom: 1.8667rem;
  right: 0;
  background: url('../images/button-suspend.png') no-repeat;
  background-size:100% 100%;
  overflow: hidden;
  z-index: 300;
  width:2.0267rem;
  height:2.0267rem;
}

.modal-box.modal-no-func {
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}
.skeleton{
  margin-top:0.5333rem;
}
.indexloadingbg{
  width: 700px;
  height: 100%;
  background: url('../images/default_bg2x.png') #f7f8fa center no-repeat;
  background-size: auto 100%;
}
.disimg{
  visibility: hidden;
  height:0;
  width:0;
}
.privacywrap{
  // padding: 0.4rem 0.4rem 0.2667rem 0.4rem;
}

.privacybtn{
  // width:272px;
  display:block;
  height:1.0667rem;
  line-height:1.0667rem;
  background:linear-gradient(90deg,rgba(252,155,71,1) 0%,rgba(250,84,50,1) 100%);
  border-radius:1.0667rem;
  text-align: center;
  color: #fff;
  margin: 0.2667rem;
}