@import "./var";
@import "./config";

$--prename: $namespace + '-icon';

@font-face {
  font-family: 'element-icons';
  src: url('#{$--font-path}/element-icons.woff') format('woff'), /* chrome, firefox */
       url('#{$--font-path}/element-icons.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-display: $--font-display;
  font-style: normal;
}

[class^="#{$--prename}-"], [class*=" #{$--prename}-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'element-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$--prename}-ice-cream-round:before {
  content: "\e6a0";
}

.#{$--prename}-ice-cream-square:before {
  content: "\e6a3";
}

.#{$--prename}-lollipop:before {
  content: "\e6a4";
}

.#{$--prename}-potato-strips:before {
  content: "\e6a5";
}

.#{$--prename}-milk-tea:before {
  content: "\e6a6";
}

.#{$--prename}-ice-drink:before {
  content: "\e6a7";
}

.#{$--prename}-ice-tea:before {
  content: "\e6a9";
}

.#{$--prename}-coffee:before {
  content: "\e6aa";
}

.#{$--prename}-orange:before {
  content: "\e6ab";
}

.#{$--prename}-pear:before {
  content: "\e6ac";
}

.#{$--prename}-apple:before {
  content: "\e6ad";
}

.#{$--prename}-cherry:before {
  content: "\e6ae";
}

.#{$--prename}-watermelon:before {
  content: "\e6af";
}

.#{$--prename}-grape:before {
  content: "\e6b0";
}

.#{$--prename}-refrigerator:before {
  content: "\e6b1";
}

.#{$--prename}-goblet-square-full:before {
  content: "\e6b2";
}

.#{$--prename}-goblet-square:before {
  content: "\e6b3";
}

.#{$--prename}-goblet-full:before {
  content: "\e6b4";
}

.#{$--prename}-goblet:before {
  content: "\e6b5";
}

.#{$--prename}-cold-drink:before {
  content: "\e6b6";
}

.#{$--prename}-coffee-cup:before {
  content: "\e6b8";
}

.#{$--prename}-water-cup:before {
  content: "\e6b9";
}

.#{$--prename}-hot-water:before {
  content: "\e6ba";
}

.#{$--prename}-ice-cream:before {
  content: "\e6bb";
}

.#{$--prename}-dessert:before {
  content: "\e6bc";
}

.#{$--prename}-sugar:before {
  content: "\e6bd";
}

.#{$--prename}-tableware:before {
  content: "\e6be";
}

.#{$--prename}-burger:before {
  content: "\e6bf";
}

.#{$--prename}-knife-fork:before {
  content: "\e6c1";
}

.#{$--prename}-fork-spoon:before {
  content: "\e6c2";
}

.#{$--prename}-chicken:before {
  content: "\e6c3";
}

.#{$--prename}-food:before {
  content: "\e6c4";
}

.#{$--prename}-dish-1:before {
  content: "\e6c5";
}

.#{$--prename}-dish:before {
  content: "\e6c6";
}

.#{$--prename}-moon-night:before {
  content: "\e6ee";
}

.#{$--prename}-moon:before {
  content: "\e6f0";
}

.#{$--prename}-cloudy-and-sunny:before {
  content: "\e6f1";
}

.#{$--prename}-partly-cloudy:before {
  content: "\e6f2";
}

.#{$--prename}-cloudy:before {
  content: "\e6f3";
}

.#{$--prename}-sunny:before {
  content: "\e6f6";
}

.#{$--prename}-sunset:before {
  content: "\e6f7";
}

.#{$--prename}-sunrise-1:before {
  content: "\e6f8";
}

.#{$--prename}-sunrise:before {
  content: "\e6f9";
}

.#{$--prename}-heavy-rain:before {
  content: "\e6fa";
}

.#{$--prename}-lightning:before {
  content: "\e6fb";
}

.#{$--prename}-light-rain:before {
  content: "\e6fc";
}

.#{$--prename}-wind-power:before {
  content: "\e6fd";
}

.#{$--prename}-baseball:before {
  content: "\e712";
}

.#{$--prename}-soccer:before {
  content: "\e713";
}

.#{$--prename}-football:before {
  content: "\e715";
}

.#{$--prename}-basketball:before {
  content: "\e716";
}

.#{$--prename}-ship:before {
  content: "\e73f";
}

.#{$--prename}-truck:before {
  content: "\e740";
}

.#{$--prename}-bicycle:before {
  content: "\e741";
}

.#{$--prename}-mobile-phone:before {
  content: "\e6d3";
}

.#{$--prename}-service:before {
  content: "\e6d4";
}

.#{$--prename}-key:before {
  content: "\e6e2";
}

.#{$--prename}-unlock:before {
  content: "\e6e4";
}

.#{$--prename}-lock:before {
  content: "\e6e5";
}

.#{$--prename}-watch:before {
  content: "\e6fe";
}

.#{$--prename}-watch-1:before {
  content: "\e6ff";
}

.#{$--prename}-timer:before {
  content: "\e702";
}

.#{$--prename}-alarm-clock:before {
  content: "\e703";
}

.#{$--prename}-map-location:before {
  content: "\e704";
}

.#{$--prename}-delete-location:before {
  content: "\e705";
}

.#{$--prename}-add-location:before {
  content: "\e706";
}

.#{$--prename}-location-information:before {
  content: "\e707";
}

.#{$--prename}-location-outline:before {
  content: "\e708";
}

.#{$--prename}-location:before {
  content: "\e79e";
}

.#{$--prename}-place:before {
  content: "\e709";
}

.#{$--prename}-discover:before {
  content: "\e70a";
}

.#{$--prename}-first-aid-kit:before {
  content: "\e70b";
}

.#{$--prename}-trophy-1:before {
  content: "\e70c";
}

.#{$--prename}-trophy:before {
  content: "\e70d";
}

.#{$--prename}-medal:before {
  content: "\e70e";
}

.#{$--prename}-medal-1:before {
  content: "\e70f";
}

.#{$--prename}-stopwatch:before {
  content: "\e710";
}

.#{$--prename}-mic:before {
  content: "\e711";
}

.#{$--prename}-copy-document:before {
  content: "\e718";
}

.#{$--prename}-full-screen:before {
  content: "\e719";
}

.#{$--prename}-switch-button:before {
  content: "\e71b";
}

.#{$--prename}-aim:before {
  content: "\e71c";
}

.#{$--prename}-crop:before {
  content: "\e71d";
}

.#{$--prename}-odometer:before {
  content: "\e71e";
}

.#{$--prename}-time:before {
  content: "\e71f";
}

.#{$--prename}-bangzhu:before {
  content: "\e724";
}

.#{$--prename}-close-notification:before {
  content: "\e726";
}

.#{$--prename}-microphone:before {
  content: "\e727";
}

.#{$--prename}-turn-off-microphone:before {
  content: "\e728";
}

.#{$--prename}-position:before {
  content: "\e729";
}

.#{$--prename}-postcard:before {
  content: "\e72a";
}

.#{$--prename}-message:before {
  content: "\e72b";
}

.#{$--prename}-chat-line-square:before {
  content: "\e72d";
}

.#{$--prename}-chat-dot-square:before {
  content: "\e72e";
}

.#{$--prename}-chat-dot-round:before {
  content: "\e72f";
}

.#{$--prename}-chat-square:before {
  content: "\e730";
}

.#{$--prename}-chat-line-round:before {
  content: "\e731";
}

.#{$--prename}-chat-round:before {
  content: "\e732";
}

.#{$--prename}-set-up:before {
  content: "\e733";
}

.#{$--prename}-turn-off:before {
  content: "\e734";
}

.#{$--prename}-open:before {
  content: "\e735";
}

.#{$--prename}-connection:before {
  content: "\e736";
}

.#{$--prename}-link:before {
  content: "\e737";
}

.#{$--prename}-cpu:before {
  content: "\e738";
}

.#{$--prename}-thumb:before {
  content: "\e739";
}

.#{$--prename}-female:before {
  content: "\e73a";
}

.#{$--prename}-male:before {
  content: "\e73b";
}

.#{$--prename}-guide:before {
  content: "\e73c";
}

.#{$--prename}-news:before {
  content: "\e73e";
}

.#{$--prename}-price-tag:before {
  content: "\e744";
}

.#{$--prename}-discount:before {
  content: "\e745";
}

.#{$--prename}-wallet:before {
  content: "\e747";
}

.#{$--prename}-coin:before {
  content: "\e748";
}

.#{$--prename}-money:before {
  content: "\e749";
}

.#{$--prename}-bank-card:before {
  content: "\e74a";
}

.#{$--prename}-box:before {
  content: "\e74b";
}

.#{$--prename}-present:before {
  content: "\e74c";
}

.#{$--prename}-sell:before {
  content: "\e6d5";
}

.#{$--prename}-sold-out:before {
  content: "\e6d6";
}

.#{$--prename}-shopping-bag-2:before {
  content: "\e74d";
}

.#{$--prename}-shopping-bag-1:before {
  content: "\e74e";
}

.#{$--prename}-shopping-cart-2:before {
  content: "\e74f";
}

.#{$--prename}-shopping-cart-1:before {
  content: "\e750";
}

.#{$--prename}-shopping-cart-full:before {
  content: "\e751";
}

.#{$--prename}-smoking:before {
  content: "\e752";
}

.#{$--prename}-no-smoking:before {
  content: "\e753";
}

.#{$--prename}-house:before {
  content: "\e754";
}

.#{$--prename}-table-lamp:before {
  content: "\e755";
}

.#{$--prename}-school:before {
  content: "\e756";
}

.#{$--prename}-office-building:before {
  content: "\e757";
}

.#{$--prename}-toilet-paper:before {
  content: "\e758";
}

.#{$--prename}-notebook-2:before {
  content: "\e759";
}

.#{$--prename}-notebook-1:before {
  content: "\e75a";
}

.#{$--prename}-files:before {
  content: "\e75b";
}

.#{$--prename}-collection:before {
  content: "\e75c";
}

.#{$--prename}-receiving:before {
  content: "\e75d";
}

.#{$--prename}-suitcase-1:before {
  content: "\e760";
}

.#{$--prename}-suitcase:before {
  content: "\e761";
}

.#{$--prename}-film:before {
  content: "\e763";
}

.#{$--prename}-collection-tag:before {
  content: "\e765";
}

.#{$--prename}-data-analysis:before {
  content: "\e766";
}

.#{$--prename}-pie-chart:before {
  content: "\e767";
}

.#{$--prename}-data-board:before {
  content: "\e768";
}

.#{$--prename}-data-line:before {
  content: "\e76d";
}

.#{$--prename}-reading:before {
  content: "\e769";
}

.#{$--prename}-magic-stick:before {
  content: "\e76a";
}

.#{$--prename}-coordinate:before {
  content: "\e76b";
}

.#{$--prename}-mouse:before {
  content: "\e76c";
}

.#{$--prename}-brush:before {
  content: "\e76e";
}

.#{$--prename}-headset:before {
  content: "\e76f";
}

.#{$--prename}-umbrella:before {
  content: "\e770";
}

.#{$--prename}-scissors:before {
  content: "\e771";
}

.#{$--prename}-mobile:before {
  content: "\e773";
}

.#{$--prename}-attract:before {
  content: "\e774";
}

.#{$--prename}-monitor:before {
  content: "\e775";
}

.#{$--prename}-search:before {
  content: "\e778";
}

.#{$--prename}-takeaway-box:before {
  content: "\e77a";
}

.#{$--prename}-paperclip:before {
  content: "\e77d";
}

.#{$--prename}-printer:before {
  content: "\e77e";
}

.#{$--prename}-document-add:before {
  content: "\e782";
}

.#{$--prename}-document:before {
  content: "\e785";
}

.#{$--prename}-document-checked:before {
  content: "\e786";
}

.#{$--prename}-document-copy:before {
  content: "\e787";
}

.#{$--prename}-document-delete:before {
  content: "\e788";
}

.#{$--prename}-document-remove:before {
  content: "\e789";
}

.#{$--prename}-tickets:before {
  content: "\e78b";
}

.#{$--prename}-folder-checked:before {
  content: "\e77f";
}

.#{$--prename}-folder-delete:before {
  content: "\e780";
}

.#{$--prename}-folder-remove:before {
  content: "\e781";
}

.#{$--prename}-folder-add:before {
  content: "\e783";
}

.#{$--prename}-folder-opened:before {
  content: "\e784";
}

.#{$--prename}-folder:before {
  content: "\e78a";
}

.#{$--prename}-edit-outline:before {
  content: "\e764";
}

.#{$--prename}-edit:before {
  content: "\e78c";
}

.#{$--prename}-date:before {
  content: "\e78e";
}

.#{$--prename}-c-scale-to-original:before {
  content: "\e7c6";
}

.#{$--prename}-view:before {
  content: "\e6ce";
}

.#{$--prename}-loading:before {
  content: "\e6cf";
}

.#{$--prename}-rank:before {
  content: "\e6d1";
}

.#{$--prename}-sort-down:before {
  content: "\e7c4";
}

.#{$--prename}-sort-up:before {
  content: "\e7c5";
}

.#{$--prename}-sort:before {
  content: "\e6d2";
}

.#{$--prename}-finished:before {
  content: "\e6cd";
}

.#{$--prename}-refresh-left:before {
  content: "\e6c7";
}

.#{$--prename}-refresh-right:before {
  content: "\e6c8";
}

.#{$--prename}-refresh:before {
  content: "\e6d0";
}

.#{$--prename}-video-play:before {
  content: "\e7c0";
}

.#{$--prename}-video-pause:before {
  content: "\e7c1";
}

.#{$--prename}-d-arrow-right:before {
  content: "\e6dc";
}

.#{$--prename}-d-arrow-left:before {
  content: "\e6dd";
}

.#{$--prename}-arrow-up:before {
  content: "\e6e1";
}

.#{$--prename}-arrow-down:before {
  content: "\e6df";
}

.#{$--prename}-arrow-right:before {
  content: "\e6e0";
}

.#{$--prename}-arrow-left:before {
  content: "\e6de";
}

.#{$--prename}-top-right:before {
  content: "\e6e7";
}

.#{$--prename}-top-left:before {
  content: "\e6e8";
}

.#{$--prename}-top:before {
  content: "\e6e6";
}

.#{$--prename}-bottom:before {
  content: "\e6eb";
}

.#{$--prename}-right:before {
  content: "\e6e9";
}

.#{$--prename}-back:before {
  content: "\e6ea";
}

.#{$--prename}-bottom-right:before {
  content: "\e6ec";
}

.#{$--prename}-bottom-left:before {
  content: "\e6ed";
}

.#{$--prename}-caret-top:before {
  content: "\e78f";
}

.#{$--prename}-caret-bottom:before {
  content: "\e790";
}

.#{$--prename}-caret-right:before {
  content: "\e791";
}

.#{$--prename}-caret-left:before {
  content: "\e792";
}

.#{$--prename}-d-caret:before {
  content: "\e79a";
}

.#{$--prename}-share:before {
  content: "\e793";
}

.#{$--prename}-menu:before {
  content: "\e798";
}

.#{$--prename}-s-grid:before {
  content: "\e7a6";
}

.#{$--prename}-s-check:before {
  content: "\e7a7";
}

.#{$--prename}-s-data:before {
  content: "\e7a8";
}

.#{$--prename}-s-opportunity:before {
  content: "\e7aa";
}

.#{$--prename}-s-custom:before {
  content: "\e7ab";
}

.#{$--prename}-s-claim:before {
  content: "\e7ad";
}

.#{$--prename}-s-finance:before {
  content: "\e7ae";
}

.#{$--prename}-s-comment:before {
  content: "\e7af";
}

.#{$--prename}-s-flag:before {
  content: "\e7b0";
}

.#{$--prename}-s-marketing:before {
  content: "\e7b1";
}

.#{$--prename}-s-shop:before {
  content: "\e7b4";
}

.#{$--prename}-s-open:before {
  content: "\e7b5";
}

.#{$--prename}-s-management:before {
  content: "\e7b6";
}

.#{$--prename}-s-ticket:before {
  content: "\e7b7";
}

.#{$--prename}-s-release:before {
  content: "\e7b8";
}

.#{$--prename}-s-home:before {
  content: "\e7b9";
}

.#{$--prename}-s-promotion:before {
  content: "\e7ba";
}

.#{$--prename}-s-operation:before {
  content: "\e7bb";
}

.#{$--prename}-s-unfold:before {
  content: "\e7bc";
}

.#{$--prename}-s-fold:before {
  content: "\e7a9";
}

.#{$--prename}-s-platform:before {
  content: "\e7bd";
}

.#{$--prename}-s-order:before {
  content: "\e7be";
}

.#{$--prename}-s-cooperation:before {
  content: "\e7bf";
}

.#{$--prename}-bell:before {
  content: "\e725";
}

.#{$--prename}-message-solid:before {
  content: "\e799";
}

.#{$--prename}-video-camera:before {
  content: "\e772";
}

.#{$--prename}-video-camera-solid:before {
  content: "\e796";
}

.#{$--prename}-camera:before {
  content: "\e779";
}

.#{$--prename}-camera-solid:before {
  content: "\e79b";
}

.#{$--prename}-download:before {
  content: "\e77c";
}

.#{$--prename}-upload2:before {
  content: "\e77b";
}

.#{$--prename}-upload:before {
  content: "\e7c3";
}

.#{$--prename}-picture-outline-round:before {
  content: "\e75f";
}

.#{$--prename}-picture-outline:before {
  content: "\e75e";
}

.#{$--prename}-picture:before {
  content: "\e79f";
}

.#{$--prename}-close:before {
  content: "\e6db";
}

.#{$--prename}-check:before {
  content: "\e6da";
}

.#{$--prename}-plus:before {
  content: "\e6d9";
}

.#{$--prename}-minus:before {
  content: "\e6d8";
}

.#{$--prename}-help:before {
  content: "\e73d";
}

.#{$--prename}-s-help:before {
  content: "\e7b3";
}

.#{$--prename}-circle-close:before {
  content: "\e78d";
}

.#{$--prename}-circle-check:before {
  content: "\e720";
}

.#{$--prename}-circle-plus-outline:before {
  content: "\e723";
}

.#{$--prename}-remove-outline:before {
  content: "\e722";
}

.#{$--prename}-zoom-out:before {
  content: "\e776";
}

.#{$--prename}-zoom-in:before {
  content: "\e777";
}

.#{$--prename}-error:before {
  content: "\e79d";
}

.#{$--prename}-success:before {
  content: "\e79c";
}

.#{$--prename}-circle-plus:before {
  content: "\e7a0";
}

.#{$--prename}-remove:before {
  content: "\e7a2";
}

.#{$--prename}-info:before {
  content: "\e7a1";
}

.#{$--prename}-question:before {
  content: "\e7a4";
}

.#{$--prename}-warning-outline:before {
  content: "\e6c9";
}

.#{$--prename}-warning:before {
  content: "\e7a3";
}

.#{$--prename}-goods:before {
  content: "\e7c2";
}

.#{$--prename}-s-goods:before {
  content: "\e7b2";
}

.#{$--prename}-star-off:before {
  content: "\e717";
}

.#{$--prename}-star-on:before {
  content: "\e797";
}

.#{$--prename}-more-outline:before {
  content: "\e6cc";
}

.#{$--prename}-more:before {
  content: "\e794";
}

.#{$--prename}-phone-outline:before {
  content: "\e6cb";
}

.#{$--prename}-phone:before {
  content: "\e795";
}

.#{$--prename}-user:before {
  content: "\e6e3";
}

.#{$--prename}-user-solid:before {
  content: "\e7a5";
}

.#{$--prename}-setting:before {
  content: "\e6ca";
}

.#{$--prename}-s-tools:before {
  content: "\e7ac";
}

.#{$--prename}-delete:before {
  content: "\e6d7";
}

.#{$--prename}-delete-solid:before {
  content: "\e7c9";
}

.#{$--prename}-eleme:before {
  content: "\e7c7";
}

.#{$--prename}-platform-eleme:before {
  content: "\e7ca";
}

.#{$--prename}-loading {
  animation: rotating 2s linear infinite;
}

.#{$--prename}--right {
  margin-left: 5px;
}
.#{$--prename}--left {
  margin-right: 5px;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
